@import './base.css';
body {
  background-color: rgba(249, 249, 249, 0.975)!important;
}
#app {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}